<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SaaSDen</title>
</head>
<body>
    <h3>Welcome to SaaSDen</h3>
    <a type="button" href="/okta/user/app/list">         List all Apps</a><br><br>
    <a type="button" href="/okta/user/groups">           List all Groups</a><br><br>
    <a type="button" href="/okta/user/app/deactivate">   Deactivate an App</a><br><br>
    <a type="button" href="/okta/user/app/delete">       Delete an app</a><br><br>
    <a type="button" href="/okta/user/appremove">        Remove user from an App</a><br><br>
    <a type="button" href="/okta/user/list">             List all assigned apps under a user</a><br><br>
    <a type="button" href="/getOrganisation">       Get Xero Organisation</a><br><br>
    <a type="button" href="/getInvoices">           Get Xero Invoices</a><br><br>
    <a type="button" href="/refreshToken">          Refresh Xero Access Token</a><br><br>
    <a type="button" href="/getBankTransactions">   Get bank transactions</a><br><br>
    <a type="button" href="/getBatchPayments">      Get batch payments</a><br><br>
    <a href="/logout">Logout</a>
</body>
</html>